*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li:hover{
    color: #0050FF;
}
nav li{
    display: none;
}
nav{
    /* border: 2px solid black; */
    height: 100px;
}
.one{
    /* border: 2px solid black;  */
    height: 400px;
    width: 300px;
    float: right;
    background-color: #F4ECE6;
}
nav h3{
    margin-left: 51px;
    margin-top: -22px;
    font-size: 21px;
    font-family: sans-serif;
}
nav p{
    margin-left: 22px;
    margin-top: 4px;
    font-size: 14px;
}
#sq{
    margin-top: 31px;
    margin-left: 22px;
}
nav span{
    display: none;
}
.one{
    /* border: 2px solid black; */
    height: 660px;
    width: 100%;
}
.one h1{  
    text-align: center;
    font-size: 31px;
    font-weight: 800;
}
.one i{
    position: relative;
    top: 34px;
    left: 21px;
}
.two{
    /* border: 2px solid black; */
    height: 470px;
    background-color: white;
    position: absolute;
    top: 236px;
    margin-left: 31px;
    width: 287px;
    padding: 27px;
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 36px;  
    font-size: 17px; 

}
input[type=text]:hover {
    background: transparent;
    border: none;
    border-bottom: 2px solid #0050FF;
}
.btn{
    width: 103px;
    height: 36px;
    border-radius: 23px;
    font-weight: bold;
    background-color: #0050FF;
    color: white;
    border: none;
    margin-left: 25%;
    margin-top: 6px;
}
.last{
    /* border: 2px solid black; */
    position: absolute;
    top: 766px;
}
.box3{
    
    width: 100px;
    height: 50px;
    margin-left: 29px;
    margin-top: 30px;
}
.box4{
    
    width: 155px;
    height: 50px;
    float: right;
    margin-top: -50px;
    margin-right: -146px;
}
.box5{
    width: 131px;
    height: 50px;
    margin-left: 31px;
    margin-top: 20px;
}
.box3 p{

    font-size: 13px;
    margin-top: 10px;
}
.box4 p{
    font-size: 13px;
    margin-top: 10px;
}
.box5 i{
    margin: 7px;
    margin-left: -2px;
    padding: 3px;
    margin-top: 10px;
}
@media screen and (min-width:375px) {
    .two{
        width: 343px;
    }
    .box4{
margin-right: -200px;
    }
}
@media screen and (min-width:425px) {
    .one i{
left: 76px;
    }
    .two{
width: 393px;
    }
    .box4{
margin-right: -228px;
    }
    .btn{
        margin-left: 32%;
    }
}
@media screen and (min-width:1024px) {
        nav li{
            display: block;
            float: left;
            margin: 9px;
            font-size: 17px;
            margin-top: 24px;
            color: #3C3A39;
        }
        nav ul{
            float: right;
        }
        nav{
            padding: 20px;
        }
        nav h3{
            font-size: 30px;
            font-weight: 800;
            margin-top: -34px;
        }
        nav p{   
            font-size: 20px;
            margin-top: -31px;
            margin-left: 360px;
            color: #3C3A39;
        }
        #sq{
            margin-top: 23px;
        }
        nav span{
            display: inline;
        }
        .one{
            height: 1000px;
        }
        .one i{

        left: 348px;
        top: 86px;
    }
        .one h1{
        font-size: 39px;
        margin-top: 45px;
    }
        .two{
        width: 50%;
        margin-left: 25%;
        margin-top: 86px;
        height: 680px;
        padding: 120px;
    }
    input[type=text]{
        font-size: 23px;
        height: 42px;
    }
    .btn{
        margin-top: 52px;
    }
    .box3{
        margin-top: 361px;
    }
    .box5{
        margin-left: 197px;
        margin-top: -52px;
    }
    .box4{
        margin-right: -186px;
    }
}
@media screen and (min-width:1440px) {
    .one i{
        left: 600px;
    }
    
}